body, html, #root, .background {
  min-height: 100vh;
}

.background {
  background-image: url("./assets/logo_thresholds.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}